
body, h1, h2, p, form, button {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    background-image:url(background2.jpg);
    background-repeat: no-repeat;
    background-size: 120% auto ;
}

#sign-up-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.errorMessage {
    color: #e74c3c;
    margin-top: -10px;
    margin-bottom: 10px;
}

#sign-up-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#sign-up-button:hover {
    background-color: #2980b9;}

.input-container{
    position: relative;
}

.form{
    background-color: aliceblue;
    display: block;
    

}