

body{
background-image:url(images/backGroundselectInterface1.jpg);
background-position: 100% auto;
background-size: cover;
background-repeat: no-repeat;

}

#form{
    background-color: rgb(68, 68, 164);
    color: aliceblue;
    display: block;
    float: left;
    height: 100%;
    
}

#oneDoctor{
    border: 2px solid black;
    display: flex
}

.select{
    margin: 20px ;
    height: 10%;
    max-width: 100%;

}

button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}
button:hover {
    cursor: pointer;
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%)
}
button{
    align-self: center;
}
