
body{
    background-image:url(images/backGroundselectInterface1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.selectContainer{
    margin: 20px;
    padding: 20px;
    border-style: groove;
    background-color: rgb(194, 195, 226);
    display: inline-flex;
    border-radius: 20px;
    align-content: center;
}

#oneDoctor{
    display:inline-flex;
    background-color: rgba(40, 6, 109, 0.3);
    border-radius: 2.5em;
    margin: 10px;
    max-width: 20%;
    height: 50%;
}

#oneDoctor:hover{
    box-shadow: 0px 3px 5px rgba(31, 8, 180, 0.4);
}

.select{
    cursor: pointer;
    margin: 20px ;
    height: 30px;
    max-width: 100%;
    border-radius: 5px;
    font-weight: bolder;

}

.select:hover{
    color: aliceblue;
    background-color: rgb(36, 31, 186, 0.6);
    text-overflow: ellipsis;
}

button:hover {
    box-shadow: 0px 3px 5px rgba(31, 8, 180, 0.4);
}

#search{
    cursor: pointer;
    height: 30px;
    border-radius: 10px;
    align-self: center;
    font-style: oblique;
    font-weight: bold;
}

ul{
    list-style-type: none;
    position: relative;
}

li{
    margin: 5%;
}

#user{
    cursor: pointer;
    height: 25px;
    margin-left: 20px;
    display: block;
    border-radius: 5px;
}

#name{
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

#speciality{
    font-weight: bold;
    font-style: italic;
}

#city{
    font-style: oblique;
}

#notFound{
    margin-left: 15%;
}

.numberFound{
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
    padding-left: 15px;
}